<section class="container-cta">
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-10 offset-md-4 col-md-8">
				<h2>{{title}}</h2>
				<p>{{body}}</p>
				<form method="post" acceptCharset="UTF-8" id="newsletter-subscribe-form">
					<div class="input-group mb-3">
						<input type="text" class="form-control" [placeholder]="placeholder"
							attr.aria-label="{{placeholder}}" aria-describedby="button-addon2">
						<button class="btn btn-outline-secondary" type="button" id="button-addon2">{{submit}}</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</section>
