<section>
	<div class="row mb-5 align-items-end">
		<div class="col">
			<ul>
				<li>😎 RawGenius Event</li>
				<li>📅 23 Juni - 24 Juni</li>
				<li>📍 Postillion Hotel Amersfoort Veluwemeer</li>
				<li>🍿 and a lot more blurps</li>
			</ul>
		</div>
		<div class="col">

			<a class="btn btn-primary btn-raw-primary" (click)="onClickHandler()" [href]="this.file" target="_blank"
				role="button">Get <app-icons icon="arrow-left"></app-icons> (that!) in
				my calendar</a>
		</div>
	</div>
</section>
