<footer id="footer" class="container-footer mt-auto py-3 bg-light">
	<div class="container">
		<div class="row ">
			<div class="col-12 col-md-6">
				<p class="p-0 m-0">
					© 2017–{{currentYear}} Company, Inc.
					· <a class="" routerLink="/about" routerLinkActive="active"><i class="fa fa-remove"></i> About</a>
					· <a class="" routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-bug"></i>
						Dashboard</a>
				</p>
			</div>
			<div class="col-12 col-md-6">
				<p class="h6 p-0 m-0">
					<app-socials></app-socials>
				</p>
			</div>
		</div>
	</div>
</footer>
