<footer id="footer" class="container-footer _mt-auto py-3 mt-5 bg-body-tertiary">
	<div class=" container">
		<div class="row align-items-center">
			<div class="col-12 col-md-3">
				<p class="p-0 m-0">
					© 2022 - {{currentYear}} RawWorks
					<!-- · <a class="" routerLink="/about" routerLinkActive="active"><i class="fa fa-remove"></i> About</a>
					· <a class="" routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-bug"></i>
						Dashboard</a> -->
				</p>
			</div>

			<div class="col-12 col-md-3">
				<a href="https://www.rawworks.nl/home/privacy-statement/" target="_blank">privacy-statement
					<app-icons icon="link"></app-icons></a>
			</div>
			<div class="col-12 col-md-auto">
				<img src="assets/logo/rawworks-wit-200X40.png" class="" alt="RawWorks logo" loading="lazy" width="150">
			</div>
			<div class="col-12 col-md-auto align-items-center">
				<p class="h5 p-0 m-0">
					<app-socials></app-socials>
				</p>
			</div>
		</div>
	</div>
</footer>
