<footer id="footer" class="container-footer _mt-auto py-3 mt-5 bg-body-tertiary">
	<div class=" container">
		<div class="row ">
			<div class="col-12 col-md-6">
				<p class="p-0 m-0">
					© 2019{{currentYear}} RawWorks
					<!-- · <a class="" routerLink="/about" routerLinkActive="active"><i class="fa fa-remove"></i> About</a>
					· <a class="" routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-bug"></i>
						Dashboard</a> -->
					<a href="https://www.rawworks.nl/home/privacy-statement/" target="_blank">privacy-statement
						<app-icons icon="link"></app-icons></a>
				</p>
			</div>
			<div class="col-12 col-md-6">
				<p class="h6 p-0 m-0">
					<app-socials></app-socials>
				</p>
			</div>
		</div>
	</div>
</footer>
