<section class="container-contact">
	<div class="container">
		<div class="row flex-row-reverse">
			<div class="col-12 col-md-6 mb-4">
				<img src="/assets/images/event/MeetingRoom2019010.webp" title="" alt="" class="img-fluid" />
			</div>
			<div class="col-12 col-md-6">
				<address>
					<h3>Courtyard by Marriott Amsterdam Airport </h3>
					Bosweg 15<br />
					2131 LX Hoofddorp<br />
					<app-icons icon="tel"></app-icons> 023 - 556 90 00<br />
					<!-- <a href="https://claus.nl/contact/" target="_blank" class="link-light">
						<app-icons icon="link"></app-icons>
					</a> -->
				</address>

				<a class="btn btn-danger btn-rawgenius-purple raw-icon-forward raw-sweep-to-right rounded-none btn-xl"
					href="https://goo.gl/maps/LmwGfRiWjKcE4rZB6?coh=178572&entry=tt" role="button" target="_blank">
					<app-icons icon="map"></app-icons>&nbsp;&nbsp;Routebeschrijving&nbsp;&nbsp;
					<i class="fa fa-arrow-right"></i>
				</a>
			</div>
		</div>
	</div>
</section>
