@import "../../../styles/default_import";

.text-nowrap-md {
	@include respond-above(md) {
		white-space: nowrap;
		// border: 1px solid pink;
	}
}

.table-tr-sponsor {
	// background-color: red;
}
.table-tr-pause {
	// background-color: #282828;
	background-color: rgba($color: #000000, $alpha: 0.2);
}
.table-tr-switch {
	// background-color: #383838;
	background-color: rgba($color: #ffffff, $alpha: 0.1);
}
