// if the anchor is in a container, use outside position
// other use defaults
.container {
	.anchor-wrapper {
		.anchor__title {
			&::before {
				left: -1.5rem;
			}
		}
	}
}

.anchor-wrapper {
	// border: 1px solid pink;
	position: relative;
	width: 0px;
	height: 0px;
	left: 0px;
	top: 0px;
	z-index: 10;

	.anchor__holder,
	a.anchor__holder {
		position: relative;
		left: 0;
		top: -7rem;
		border: 1px solid transparent;
		width: 0px;
		height: 0px;
		display: inline-block;
	}

	.anchor__title {
		white-space: nowrap;
		display: inline-block;
		p {
			background-color: yellow;
			font-size: 10px;
			text-transform: uppercase;
			margin: 0;
			padding: 0;
			padding-left: 0.3125rem;
			padding-right: 0.3125rem;
			opacity: 0;
			transition: opacity 0.5s;
		}

		&::before {
			content: "ⓘ";
			position: absolute;
			margin: 0;
			padding: 0;
			font-size: 1rem;
			line-height: 1rem;
			left: 0.5rem;
			top: 6px;
			opacity: 0.3;
			cursor: pointer;
			transition: opacity 0.5s;
		}
	}
	&:hover {
		.anchor__title {
			p {
				opacity: 1;
			}
		}
	}
}
