<section class="container">
	<div class="row justify-content-center _flex-row-reverse">
		<div class="col-12 col-md-8">
			<div class="content-wrapper">
				<h3>Schrijf je in</h3>
				<p>Daarnaast willen wij ook graag inventariseren hoeveel collega's er evt. gebruik willen maken van de
					overnachtingsmogelijkheid en deelnemers aan de activiteit op zaterdag. </p>
				<p>Graag onderstaand formulier invullen voor 28 mei 2023, zodat wij de reservering definitief kunnen
					maken en natuurlijk verder kunnen met het organiseren van RawGenius. Daarnaast kunnen wij ook de
					juiste aantal kamers reserveren en hierdoor geen onnodige kosten maken en er meer budget overblijft
					voor andere activiteiten.</p>
				<a href="https://forms.office.com/e/WY4Wf9dQRp"
					class="btn btn-danger raw-sweep-to-right rounded-none btn-2xl raw-icon-forward" target="_blank"
					role="button">Registeer je hier! <i class="fa fa-arrow-right"></i></a>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<img src="assets/images/icons/icon_rawgenius_alert.png" alt="RawGenius alert icon" class="img-fluid">
		</div>
	</div>

</section>
