<section class="container">
	<div class="row justify-content-center _flex-row-reverse">
		<div class="col-12 col-md-8">
			<div class="content-wrapper text-bg-light">
				<h3 class="display-3">Mis deze kans niet - schrijf je vandaag nog in voor RawGenius!</h3>


				<p>
					Vul het onderstaande formulier in <strong>vóór 28 mei 2023</strong> en verzeker jezelf van een plek
					op dit
					inspirerende evenement. Geef
					ook aan hoeveel collega's interesse hebben in overnachting en de activiteit op zaterdag.
				</p>

				<p>
					Door tijdig in te schrijven, kunnen we de reserveringen en kosten efficiënt regelen, zodat er meer
					budget overblijft
					voor andere geweldige activiteiten.
				</p>

				<p>
					Wacht niet langer - doe mee aan RawGenius en groei samen met ons!
				</p>
				<div class="d-flex justify-content-center">
					<a href="https://forms.office.com/e/WY4Wf9dQRp"
						class="btn btn-danger raw-sweep-to-right rounded-none btn-2xl raw-icon-forward " target="_blank"
						role="button">Registeer je hier! <i class="fa fa-arrow-right"></i></a>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<img src="assets/images/icons/icon_rawgenius_alert.png" alt="RawGenius alert icon" class="img-fluid">
		</div>
	</div>

</section>
