<section class="container-contact">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<img src="/assets/images/event/Claus_aanzicht_1280x560.webp" title="" alt="" class="img-fluid" />
			</div>
			<div class="col-6">
				<address>
					<h3>Claus</h3>
					Bosweg 19<br />
					2131 LX Hoofddorp<br />
					<app-icons icon="tel"></app-icons> 023 - 556 00 50<br />
					<a href="https://claus.nl/contact/" target="_blank" class="link-light">
						Website <app-icons icon="link"></app-icons>
					</a>
				</address>

				<a class="btn btn-danger btn-rawgenius-purple raw-icon-forward raw-sweep-to-right rounded-none btn-xl"
					href="https://goo.gl/maps/hxppV2PK6xxFr5iJ8?coh=178572&entry=tt" role="button" target="_blank">
					<app-icons icon="map"></app-icons>&nbsp;&nbsp;Routebeschrijving&nbsp;&nbsp;
					<i class="fa fa-arrow-right"></i>
				</a>

			</div>
		</div>
	</div>
</section>
