<section class="container">
	<div class="row justify-content-center _flex-row-reverse">
		<div class="col-12 col-md-8">
			<div class="content-wrapper text-bg-light">
				<h3 class="display-3">Call 4 speakers</h3>
				<p>Hierbij wil ik jullie graag uitnodigen om te spreken op RawGenius, het event waarbij wij onze kennis
					en vaardigheden kunnen delen met onze collega's. RawGenius is opgericht om op een laagdrempelige
					manier je kennis te delen en ervaring op te doen met presenteren.</p>
				<p>
					Als je iets interessants te delen hebt over een onderwerp waar je gepassioneerd over bent, of als je
					gewoon wat tips en trucs wilt delen over een specifieke vaardigheid of product, dan is RawGenius de
					perfecte plek om dat te doen. De sessies duren ongeveer 30 minuten en het is een geweldige kans om
					zo jouw/jullie kennis te delen.
				</p>
				<div class="d-flex justify-content-center">
					<a href="https://forms.office.com/e/qxLTRBfD96"
						class="btn btn-danger raw-sweep-to-right rounded-none btn-2xl raw-icon-forward" target="_blank"
						role="button">Omschrijf je sessie <i class="fa fa-arrow-right"></i></a>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<img src="assets/images/icons/icon_rawgenius_speaker.png" alt="RawGenius speaker icon" class="img-fluid">
		</div>
	</div>

</section>
