<section class="container">
	<div class="row justify-content-center _flex-row-reverse">
		<div class="col-12 col-md-8">
			<div class="content-wrapper text-bg-light">
				<h3 class="display-3">Deel je kennis, inspireer anderen!</h3>
				<p>
					Grijp nu de kans om een onvergetelijke lezing te geven op RawGenius. Schrijf je vandaag nog in en
					deel jouw unieke
					inzichten met een publiek dat snakt naar nieuwe ideeën.
				</p>

				<p>
					Maar wees er snel bij, want de deadline voor inschrijvingen is 26 mei 2023 en de tijdslots zijn
					beperkt. Registreer je
					en maak van jezelf een gewaardeerde spreker op RawGenius, waar jouw stem gehoord wordt en anderen
					worden geïnspireerd.
				</p>

				<p>
					Wacht niet langer! Laat jouw kennis schitteren en schrijf je nu in voor dit buitengewone evenement
					dat mensen zal
					aanspreken en transformeren.
				</p>

				<div class="d-flex justify-content-center">
					<a href="https://forms.office.com/e/qxLTRBfD96"
						class="btn btn-danger raw-sweep-to-right rounded-none btn-2xl raw-icon-forward" target="_blank"
						role="button">Omschrijf je sessie <i class="fa fa-arrow-right"></i></a>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<img src="assets/images/icons/icon_rawgenius_speaker.png" alt="RawGenius speaker icon" class="img-fluid">
		</div>
	</div>

</section>
