<section style="margin-top:100px;">

	<div class="row">
		<div class="col"><app-emojicanvas text="😎" name="cool" [size]="100"></app-emojicanvas></div>
		<div class="col"><app-emojicanvas text="🚨" name="alert" [size]="100"></app-emojicanvas></div>
		<div class="col"><app-emojicanvas text="🔈" name="speaker" [size]="100"></app-emojicanvas></div>
		<div class="col"><app-emojicanvas text="📅" name="calendar" [size]="100"></app-emojicanvas></div>
		<div class="col"><app-emojicanvas text="🍿" name="popcorn" [size]="100"></app-emojicanvas></div>
		<div class="col"><app-emojicanvas text="📍" name="pin" [size]="100"></app-emojicanvas></div>
		<div class="col"><app-emojicanvas text="🚃" name="schedule" [size]="100"></app-emojicanvas></div>
	</div>


	<app-emojicanvas text="🚀" name="rocket"></app-emojicanvas> <br />
	<app-emojicanvas text="📢" name="megafoon_silver"></app-emojicanvas> <br />
	<app-emojicanvas text="📣" name="megafoon_gold"></app-emojicanvas> <br />
	<app-emojicanvas text="🗺️" name="map"></app-emojicanvas> <br />
	<app-emojicanvas text="🧭" name="direction"></app-emojicanvas> <br />
	<app-emojicanvas text="🚚" name="truck"></app-emojicanvas> <br />
	<app-emojicanvas text="🚙" name="car"></app-emojicanvas> <br />
	<app-emojicanvas text="🔈" name="speaker"></app-emojicanvas> <br />
	<app-emojicanvas text="📍" name="pin"></app-emojicanvas> <br />
	<app-emojicanvas text="💩" name="shit"></app-emojicanvas> <br />
	<app-emojicanvas text="🤖" name="robot"></app-emojicanvas> <br />
	<app-emojicanvas text="💀" name="skull"></app-emojicanvas> <br />
	<app-emojicanvas text="👽" name="alien"></app-emojicanvas> <br />
	<app-emojicanvas text="🚨" name="alert"></app-emojicanvas> <br />
	<app-emojicanvas text="😱" name="cry"></app-emojicanvas> <br />
	<app-emojicanvas text="🎉" name="tada"></app-emojicanvas> <br />
	<app-emojicanvas text="🦄" name="unicorn"></app-emojicanvas> <br />
	<app-emojicanvas text="😡" name="frustration"></app-emojicanvas> <br />
	<app-emojicanvas text="🧠" name="brain"></app-emojicanvas> <br />

</section>
