<header>
	<!--
		<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	-->
	<nav class="navbar navbar-expand-md bg-body-tertiary fixed-top" data-bs-theme="dark">
		<div class="container">
			<a class="navbar-brand" href="/">🦊</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					<!--
					<li class="nav-item" *ngFor="let default of defaultRoutes">
						<a class="nav-link" [routerLink]="default.path" routerLinkActive="active"
							ariaCurrentWhenActive="page" *ngIf="default.redirectTo === undefined">
							<app-icons icon="{{default.title}}"></app-icons> {{default.title}}
						</a>
					</li> -->

					<li class="nav-item" *ngFor="let anchor of anchorRoutes">
						<a class="nav-link" (click)="onAnchorClickHandler($event, anchor)" href="#"
							routerLinkActive="active" ariaCurrentWhenActive="page">
							<!-- <app-icons icon="{{anchor.title}}"></app-icons> -->
							{{anchor.title}}
							<app-icons icon="arrow-down"></app-icons>
						</a>
					</li>

					<ng-container *ngIf="isRoot">
						<span class="nav-link">❤️</span>
					</ng-container>

				</ul>

				<ul class="navbar-nav flex-row flex-wrap ms-md-auto">

					<li *ngIf="!isProduction" class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							🐞
						</a>
						<ul class="dropdown-menu dropdown-menu-dark">
							<li><a class="dropdown-item" href="/styleguide">Styleguide</a></li>
							<li><a class="dropdown-item" href="/oeps">Oeps</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li *ngFor="let test of testRoutes">
								<a class="dropdown-item" [routerLink]="test.path" routerLinkActive="active" href="#">
									<app-icons icon="{{test.title}}"></app-icons> {{test.title}}
								</a>
							</li>
						</ul>
					</li>

					<li *ngIf="!isProduction" class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							🐞 Pages
						</a>
						<ul class="dropdown-menu dropdown-menu-dark">
							<li *ngFor="let pages of pagesRoutes">
								<a class="dropdown-item" [routerLink]="pages.path" routerLinkActive="active" href="#">
									<app-icons icon="{{pages.title}}"></app-icons> {{pages.title}}
								</a>
							</li>
						</ul>
					</li>

					<li *ngIf="!isProduction" class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							🐞 Fullscreen
						</a>
						<ul class="dropdown-menu dropdown-menu-dark">
							<li *ngFor="let pages of fullscreenRoutes">
								<a class="dropdown-item" [routerLink]="pages.path" routerLinkActive="active" href="#">
									<app-icons icon="{{pages.title}}"></app-icons> {{pages.title}}
								</a>
							</li>
						</ul>
					</li>

				</ul>

			</div>
		</div>
	</nav>
</header>
