<section class="container" style="margin-top: 60px">


	<h1>{{this.title}}</h1>
	<p>styleguide-buttons works!</p>
	<p>default bootstrap buttons</p>

	<div class="row mb-4">
		<div class="col-12">

			<button type="button" class="btn btn-primary">Primary</button>
			<button type="button" class="btn btn-secondary">Secondary</button>
			<button type="button" class="btn btn-success">Success</button>
			<button type="button" class="btn btn-danger">Danger</button>
			<button type="button" class="btn btn-warning">Warning</button>
			<button type="button" class="btn btn-info">Info</button>
			<button type="button" class="btn btn-light">Light</button>
			<button type="button" class="btn btn-dark">Dark</button>
			<button type="button" class="btn btn-link">Link</button>

		</div>
	</div>


	<p>works with <code>buttons</code> and <code>links</code></p>

	<div class="row mb-4">
		<div class="col-12">

			<a class="btn btn-primary raw-sweep-to-right" href="#" role="button">Link</a>
			<button class="btn btn-primary raw-sweep-to-right" type="submit">Button</button>

			<a class="btn btn-primary btn-lg raw-sweep-to-right" href="#" role="button">Link</a>
			<a class="btn btn-primary btn-sm raw-sweep-to-right" href="#" role="button">Link</a>
		</div>
	</div>

	<p>works with the default classes of bootstrap</p>

	<div class="row mb-4">
		<div class="col-12">

			<button type="button" class="btn btn-primary raw-sweep-to-right">Primary</button>
			<button type="button" class="btn btn-secondary raw-sweep-to-right">Secondary</button>
			<button type="button" class="btn btn-success raw-sweep-to-right">Success</button>
			<button type="button" class="btn btn-danger raw-sweep-to-right">Danger</button>
			<button type="button" class="btn btn-warning raw-sweep-to-right">Warning</button>
			<button type="button" class="btn btn-info raw-sweep-to-right">Info</button>
			<button type="button" class="btn btn-light raw-sweep-to-right">Light</button>
			<button type="button" class="btn btn-dark raw-sweep-to-right">Dark</button>
			<button type="button" class="btn btn-link raw-sweep-to-right">Link</button>

		</div>
	</div>

	<h2>Background Transitions</h2>

	<div class="row mb-4">
		<div class="col-12">

			<a class="btn btn-primary raw-sweep-to-right" href="#" role="button">sweep-to-right</a>
			<a class="btn btn-primary raw-sweep-to-left" href="#" role="button">sweep-to-left</a>
			<a class="btn btn-primary raw-sweep-to-bottom" href="#" role="button">sweep-to-bottom</a>
			<a class="btn btn-primary raw-sweep-to-top" href="#" role="button">sweep-to-top</a>
			<a class="btn btn-primary raw-shutter-out-horizontal" href="#" role="button">shutter-out-horizontal</a>
			<a class="btn btn-primary raw-shutter-out-vertical" href="#" role="button">shutter-out-vertical</a>

		</div>
	</div>


	<h2>Border Transitions</h2>

	<div class="row mb-4">
		<div class="col-12">

			<a class="btn btn-secondary raw-underline-from-left" href=" #" role="button">underline-from-left</a>
			<a class="btn btn-secondary raw-underline-from-right" href="#" role="button">underline-from-right</a>
			<a class="btn btn-secondary raw-underline-from-center" href="#" role="button">underline-from-center</a>
			<a class="btn btn-secondary raw-reveal" href="#" role="button">reveal</a>
			<a class="btn btn-secondary raw-underline-reveal" href="#" role="button">underline-reveal</a>
			<a class="btn btn-secondary raw-overline-reveal" href="#" role="button">overline-reveal</a>

		</div>
	</div>


	<h2>Overwrite</h2>

	<div class="row mb-4">
		<div class="col-12">

			<a class="btn btn-success raw-sweep-to-right rounded-full" href=" #" role="button">sweep-to-right</a>
			<a class="btn btn-success raw-underline-from-right rounded-xl" href="#"
				role="button">underline-from-right</a>
			<a class="btn btn-success raw-underline-from-center rounded-none btn-lg" href="#"
				role="button">underline-from-center</a>
			<a class="btn btn-success raw-sweep-to-left rounded-none btn-xl" href="#" role="button">sweep-to-left</a>
			<a class="btn btn-success raw-sweep-to-bottom rounded-none btn-2xl" href="#"
				role="button">sweep-to-bottom</a>
			<a class="btn btn-success raw-underline-reveal btn-2sm" href="#" role="button">underline-reveal</a>
			<a class="btn btn-success raw-overline-reveal" href="#" role="button">overline-reveal</a>

		</div>
	</div>


	<h2>Icons</h2>

	<p>https://ficons.fiction.com/examples.html</p>

	<div class="row mb-4">
		<div class="col-12">

			<a class="btn btn-danger raw-icon-back" href=" #" role="button">
				<i class="fa fa-arrow-left"></i>
				underline-from-left
			</a>
			<a class="btn btn-danger raw-icon-forward" href=" #" role="button">
				underline-from-left
				<i class="fa fa-arrow-right"></i>
			</a>
			<a class="btn btn-danger raw-icon-up" href=" #" role="button">
				underline-from-left
				<i class="fa fa-arrow-up"></i>
			</a>
			<a class="btn btn-danger raw-icon-down" href=" #" role="button">
				underline-from-left
				<i class="fa fa-arrow-down"></i>
			</a>

		</div>
	</div>


	<h2>RawGenius colors</h2>

	<div class="row mb-4">
		<div class="col-12 bg-raw-white d-flex">
			<div class="raw-color raw-white"></div>
			<div class="raw-color raw-black"></div>
			<div class="raw-color raw-blue"></div>
			<div class="raw-color raw-green"></div>
			<div class="raw-color raw-green-lite"></div>
			<div class="raw-color raw-orange"></div>
			<div class="raw-color raw-purple"></div>
		</div>
		<div class="col-12 bg-raw-black d-flex">
			<div class="raw-color raw-white"></div>
			<div class="raw-color raw-black"></div>
			<div class="raw-color raw-blue"></div>
			<div class="raw-color raw-green"></div>
			<div class="raw-color raw-green-lite"></div>
			<div class="raw-color raw-orange"></div>
			<div class="raw-color raw-purple"></div>
		</div>
		<div class="col-12 bg-raw-orange d-flex">
			<div class="raw-color raw-white"></div>
			<div class="raw-color raw-black"></div>
			<div class="raw-color raw-blue"></div>
			<div class="raw-color raw-green"></div>
			<div class="raw-color raw-green-lite"></div>
			<div class="raw-color raw-orange"></div>
			<div class="raw-color raw-purple"></div>
		</div>
	</div>

	<h2>RawGenius</h2>


	<div class="row mb-4">
		<div class="col-12">

			<a href="#contact" class="btn btn-raw-secondary raw-icon-down">
				Show me the <strong>📍</strong> I know enough!
				<i class="fa fa-arrow-down"></i>
			</a>

			<button type="button" class="btn btn-raw-primary">Primary</button>
			<button type="button" class="btn btn-raw-secondary">Secondary</button>
			<button type="button" class="btn btn-raw-success">Success</button>
			<button type="button" class="btn btn-raw-danger">Danger</button>
			<button type="button" class="btn btn-raw-warning">Warning</button>
			<button type="button" class="btn btn-raw-info">Info</button>
			<button type="button" class="btn btn-raw-light">Light</button>
			<button type="button" class="btn btn-raw-dark">Dark</button>
			<button type="button" class="btn btn-raw-link">Link</button>
		</div>
	</div>

	<div class="row mb-4">
		<div class="col-12">



			<button type="button" class="btn btn-raw-primary btn-lg">Primary</button>
			<button type="button" class="btn btn-raw-secondary btn-lg">Secondary</button>
			<button type="button" class="btn btn-raw-success btn-lg">Success</button>
			<button type="button" class="btn btn-raw-danger btn-lg">Danger</button>
			<button type="button" class="btn btn-raw-warning btn-lg">Warning</button>
			<button type="button" class="btn btn-raw-info btn-lg">Info</button>
			<button type="button" class="btn btn-raw-light btn-lg">Light</button>
			<button type="button" class="btn btn-raw-dark btn-lg">Dark</button>
			<button type="button" class="btn btn-raw-link btn-lg">Link</button>
		</div>
	</div>




</section>

<style>
	/* for testing only */
	.btn {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
</style>
